services:
  giropops:
    container_name: giropops
    image: linuxtips/giropops-senhas:1.0
    ports:
      - "5000:5000"
    networks:
      - giropops
    environment:
      REDIS_HOST: "redis"
    volumes:
      - giropops_vol:/giropops
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 128M
        limits:
          cpus: "0.5"
          memory: 256M
    depends_on:
      - redis

  redis:
    container_name: redis
    image: redis:6-alpine
    #ports:
    #  - "6379:6379"
    networks:
      - giropops
    volumes:
      - giropops_vol:/giropops
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 128M
        limits:
          cpus: "0.5"
          memory: 256M

networks:
  giropops:
    driver: bridge

volumes:
  giropops_vol:    